/**顶部navbar**/

.navbar {
    padding-left:0;
    padding-right:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0
}
.navbar .navbar-inner {
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin:0;
    padding-left:0;
    padding-right:0;
    min-height:40px;
    position:relative;
    /*background:#438eb9  ;*/
  /*  background:#2C90CA  ;*/
    background: #0072C6;
    filter:none;
}
.navbar .navbar-text,.navbar .navbar-link {
    color:#fff
}
.navbar .brand {
    color:#fff;
    font-size:24px;
    text-shadow:none ;
    padding-top:10px;
    padding-bottom:5px;
}
.navbar .nav>li>a,.navbar .nav>li>a:hover,.navbar .nav>li>a:focus {
    font-size:13px;
    text-shadow:none;
    color:#fff
}
.ace-nav {
    height:100%
}
.ace-nav>li {
    line-height:40px;
    max-height:40px;
    background:#2e6589;
    border-left:1px solid #DDD;
    padding:0;
    position:relative
}
.ace-nav>li:first-child {
    border-left:none
}
.ace-nav>li>a {
    position:relative;
    color:#EEE;
    display:block;
    height:100%;
    padding:0 8px!important;
    background-color:transparent
}
.ace-nav>li>a>[class*="icon-"] {
    font-size:16px;
    color:#EEE;
    display:inline-block;
    width:20px;
    text-align:center
}
.ace-nav>li>a>.badge {
    position:relative;
    top:-4px;
    left:2px;
    padding-right:5px;
    padding-left:5px
}
.ace-nav>li.grey {
    background:#555
}
.ace-nav>li.purple {
    background:#892e65
}
.ace-nav>li.green {
    background:#2e8965
}
.ace-nav>li.light-blue {
    background:#62a8d1
}
.ace-nav>li.ms-blue {
    background:#0072C6;
}
.ace-nav>li.light-blue2 {
    background:#42a8e1
}
.ace-nav>li.red {
    background:#b74635
}
.ace-nav>li.light-green {
    background:#9abc32
}
.ace-nav>li.light-purple {
    background:#cb6fd7
}
.ace-nav>li.light-orange {
    background:#f79263
}
.ace-nav>li.light-pink {
    background:#f4dae5
}
.ace-nav>li.dark {
    background:#404040
}
.ace-nav>li.white-opaque {
    background:rgba(255,255,255,0.8)
}
.ace-nav>li.dark-opaque {
    background:rgba(0,0,0,0.2)
}
.ace-nav>li.no-border {
    border:0
}
.ace-nav>li.margin-4 {
    margin-left:4px
}
.ace-nav>li.margin-3 {
    margin-left:3px
}
.ace-nav>li.margin-2 {
    margin-left:2px
}
.ace-nav>li.margin-1 {
    margin-left:1px
}
.ace-nav>li .dropdown-menu {
    z-index:1031
}
.ace-nav .nav-user-photo {
    margin:-4px 8px 0 0;
    border-radius:24px;
    border:2px solid #FFF;
    max-width:36px!important
}
.ace-nav li:last-child a [class^="icon-"] {
    display:inline-block;
    width:1.25em;
    text-align:center
}
/**end navbar**/