.clear-both {

    clear: both;
}

.clear-both:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.lighter {
    font-weight: lighter
}

.bolder {
    font-weight: bolder
}

.inline {
    display: inline-block !important
}

.block {
    display: block !important
}

.center, .align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.middle {
    vertical-align: middle
}

.position-relative {
    position: relative
}

.position-absolute {
    position: absolute
}

.dark {
    color: #333 !important
}

.white {
    color: #fff !important
}

.red {
    color: #dd5a43 !important
}

.light-red {
    color: #f77 !important
}

.blue {
    color: #478fca !important
}

.light-blue {
    color: #93cbf9 !important
}

.green {
    color: #69aa46 !important
}

.light-green {
    color: #b0d877 !important
}

.orange {
    color: #ff892a !important
}

.orange2 {
    color: #feb902 !important
}

.light-orange {
    color: #fcac6f !important
}

.purple {
    color: #a069c3 !important
}

.pink {
    color: #c6699f !important
}

.pink2 {
    color: #d6487e !important
}

.brown {
    color: #a52a2a !important
}

.grey {
    color: #777 !important
}

.light-grey {
    color: #bbb !important
}

.bigger-110 {
    font-size: 110%
}

.bigger-120 {
    font-size: 120%
}

.bigger-130 {
    font-size: 130%
}

.bigger-140 {
    font-size: 140%
}

.bigger-150 {
    font-size: 150%
}

.bigger-160 {
    font-size: 160%
}

.bigger-170 {
    font-size: 170%
}

.bigger-180 {
    font-size: 180%
}

.bigger-190 {
    font-size: 190%
}

.bigger-200 {
    font-size: 200%
}

.bigger-210 {
    font-size: 210%
}

.bigger-220 {
    font-size: 220%
}

.bigger-230 {
    font-size: 230%
}

.bigger-240 {
    font-size: 240%
}

.bigger-250 {
    font-size: 250%
}

.bigger-260 {
    font-size: 260%
}

.bigger-270 {
    font-size: 270%
}

.bigger-280 {
    font-size: 280%
}

.bigger-290 {
    font-size: 290%
}

.bigger-300 {
    font-size: 300%
}

.bigger-125 {
    font-size: 125%
}

.bigger-175 {
    font-size: 175%
}

.bigger-225 {
    font-size: 225%
}

.bigger-275 {
    font-size: 275%
}

.smaller-90 {
    font-size: 90%
}

.smaller-80 {
    font-size: 80%
}

.smaller-70 {
    font-size: 70%
}

.smaller-60 {
    font-size: 60%
}

.smaller-50 {
    font-size: 50%
}

.smaller-40 {
    font-size: 40%
}

.smaller-30 {
    font-size: 30%
}

.smaller-20 {
    font-size: 20%
}

.smaller-75 {
    font-size: 75%
}

.width-100px {
    width: 100px;
}

.width-150px {
    width: 150px;
}

.width-200px {
    width: 200px;
}

.width-250px {
    width: 250px;
}

.width-300px {
    width: 300px;
}

.width-20 {
    width: 20% !important
}

.width-25 {
    width: 25% !important
}

.width-30 {
    width: 30% !important
}

.width-35 {
    width: 35% !important
}

.width-40 {
    width: 40% !important
}

.width-45 {
    width: 45% !important
}

.width-50 {
    width: 50% !important
}

.width-55 {
    width: 55% !important
}

.width-60 {
    width: 60% !important
}

.width-65 {
    width: 65% !important
}

.width-70 {
    width: 70% !important
}

.width-75 {
    width: 75% !important
}

.width-80 {
    width: 80% !important
}

.width-85 {
    width: 85% !important
}

.width-90 {
    width: 90% !important
}

.width-95 {
    width: 95% !important
}

.width-100 {
    width: 100% !important
}

.width-48 {
    width: 48% !important
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.no-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-margin-left {
    margin-left: 0 !important
}

.no-margin-right {
    margin-right: 0 !important
}

.no-border {
    border: 0 !important
}

.no-border-bottom {
    border-bottom: 0 !important
}

.no-border-top {
    border-top: 0 !important
}

.no-border-left {
    border-left: none !important
}

.no-border-right {
    border-right: 0 !important
}

.overflow-hidden {
    overflow: hidden !important
}

.overflow-auto {
    overflow: auto !important
}

.overflow-scroll {
    overflow: scroll !important
}

.overflow-visible {
    overflow: visible !important
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-top: 1px solid #e3e3e3;
    margin: 12px 0
}

.hr-double {
    height: 1px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3
}

.hr.dotted {
    border-top-style: dotted
}

.hr-double.dotted {
    border-bottom-style: dotted
}

.hr-32, .hr32 {
    margin: 32px 0
}

.hr-30, .hr30 {
    margin: 30px 0
}

.hr-28, .hr28 {
    margin: 28px 0
}

.hr-26, .hr26 {
    margin: 26px 0
}

.hr-24, .hr24 {
    margin: 24px 0
}

.hr-22, .hr22 {
    margin: 22px 0
}

.hr-20, .hr20 {
    margin: 20px 0
}

.hr-18, .hr18 {
    margin: 18px 0
}

.hr-16, .hr16 {
    margin: 16px 0
}

.hr-14, .hr14 {
    margin: 14px 0
}

.hr-12, .hr12 {
    margin: 12px 0
}

.hr-10, .hr10 {
    margin: 10px 0
}

.hr-8, .hr8 {
    margin: 8px 0
}

.hr-6, .hr6 {
    margin: 6px 0
}

.hr-4, .hr4 {
    margin: 4px 0
}

.hr-2, .hr2 {
    margin: 2px 0
}

.space, .vspace {
    max-height: 0;
    overflow: hidden;
    margin: 12px 0
}

.vspace {
    display: none
}

.space-32 {
    max-height: 0;
    overflow: hidden;

    margin: 32px 0
}

.vspace-32 {
    max-height: 0;
    overflow: hidden;

    margin: 32px 0;
    display: none
}

.space-30 {
    max-height: 0;
    overflow: hidden;

    margin: 30px 0
}

.vspace-30 {
    max-height: 0;
    overflow: hidden;

    margin: 30px 0;
    display: none
}

.space-28 {
    max-height: 0;
    overflow: hidden;

    margin: 28px 0
}

.vspace-28 {
    max-height: 0;
    overflow: hidden;

    margin: 28px 0;
    display: none
}

.space-26 {
    max-height: 0;
    overflow: hidden;

    margin: 26px 0
}

.vspace-26 {
    max-height: 0;
    overflow: hidden;

    margin: 26px 0;
    display: none
}

.space-24 {
    max-height: 0;
    overflow: hidden;

    margin: 24px 0
}

.vspace-24 {
    max-height: 0;
    overflow: hidden;

    margin: 24px 0;
    display: none
}

.space-22 {
    max-height: 0;
    overflow: hidden;

    margin: 22px 0
}

.vspace-22 {
    max-height: 0;
    overflow: hidden;

    margin: 22px 0;
    display: none
}

.space-20 {
    max-height: 0;
    overflow: hidden;

    margin: 20px 0
}

.vspace-20 {
    max-height: 0;
    overflow: hidden;

    margin: 20px 0;
    display: none
}

.space-18 {
    max-height: 0;
    overflow: hidden;

    margin: 18px 0
}

.vspace-18 {
    max-height: 0;
    overflow: hidden;

    margin: 18px 0;
    display: none
}

.space-16 {
    max-height: 0;
    overflow: hidden;

    margin: 16px 0
}

.vspace-16 {
    max-height: 0;
    overflow: hidden;

    margin: 16px 0;
    display: none
}

.space-14 {
    max-height: 0;
    overflow: hidden;

    margin: 14px 0
}

.vspace-14 {
    max-height: 0;
    overflow: hidden;

    margin: 14px 0;
    display: none
}

.space-12 {
    max-height: 0;
    overflow: hidden;
    margin: 12px 0
}

.vspace-12 {
    max-height: 0;
    overflow: hidden;

    display: none
}

.space-10 {
    max-height: 0;
    overflow: hidden;

    margin: 10px 0
}

.vspace-10 {
    max-height: 0;
    overflow: hidden;

    margin: 10px 0;
    display: none
}

.space-8 {
    max-height: 0;
    overflow: hidden;

    margin: 8px 0
}

.vspace-8 {
    max-height: 0;
    overflow: hidden;

    margin: 8px 0;
    display: none
}

.space-6 {
    max-height: 0;
    overflow: hidden;

    margin: 6px 0
}

.vspace-6 {
    max-height: 0;
    overflow: hidden;
    margin: 6px 0;
    display: none
}

.space-4 {
    max-height: 0;
    overflow: hidden;

    margin: 4px 0
}

.vspace-4 {
    max-height: 0;
    overflow: hidden;

    margin: 4px 0;
    display: none
}

.space-2 {
    max-height: 0;
    overflow: hidden;

    margin: 2px 0
}

.vspace-2 {
    max-height: 0;
    overflow: hidden;
    margin: 2px 0;
    display: none
}

