/**layout style**/
html {
    min-height: 100%;
    position: relative
}

body {
    padding-bottom: 0;
    background-color: #e4e6e9;
    min-height: 100%;
    font: 12px/150% Tahoma, "Microsoft YaHei", "宋体", "黑体";
    color: #393939;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #FFF
}

input,
button,
select,
textarea {
    font-family: "Microsoft YaHei", "宋体", "黑体";
}

body.navbar-fixed {
    padding-top: 45px
}

body.breadcrumbs-fixed {
    padding-top: 86px
}

.main-container {
    padding: 0;
    position: relative
}

.main-content {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0
}

.page-content {
    background: #fff;
    margin: 0;
    padding: 8px 20px 24px
}

.page-content .page-header:first-child {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2
}

.page-content .page-header:first-child h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5
}

.page-content .page-header:first-child h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #8089a0
}

[class*=" icon-"], [class^="icon-"] {
    display: inline-block;
    text-align: center
}

a:focus, a:active {
    text-decoration: none
}

/**well**/
.well {
    border-radius: 0
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    margin-top: 0
}

.well h1, .well h2, .well h3 {
    line-height: 36px
}

/**end layout style**/

/** error page style**/

.error-page {
    background: #368ee0;
}

body.error-page:before {
    display: none;
}

.error-page .wrapper {
    width: 500px;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -165px -250px
}

.error-page .wrapper .code {
    color: #fff;
    font-size: 60px;
    text-align: center
}

.error-page .wrapper .code span {
    margin-right: 15px
}

.error-page .wrapper .desc {
    color: #fff;
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

