

table{
    border-collapse: separate\9;   /**修复IE8 table border加倍问题**/
}
th,td,.table-bordered {
    border-radius:0!important
}
.table thead tr {
    color:#707070;
    font-weight:normal;
    background-color:#F3F3F3;
}
.table thead tr th {
    border-color:#DDD;
    font-weight:bold
}
.table thead tr th [class*="icon-"]:first-child {
    margin-right:2px
}
.table thead tr th:first-child {
    border-left-color:#f1f1f1
}
.table thead tr th:left-child {
    border-right-color:#f1f1f1
}
.table.table-bordered thead tr th {
    vertical-align:middle
}
.table.table-bordered thead tr th:first-child {
    border-left-color:#DDD
}
.table tbody .table-lable{
    background-color: #FAFAFA;
}
.table.table-hover tbody tr:hover td {
/*    background-color:#f5f5f5;*/
    background-color:#c4e3f3!important;
}
.table-nomargin{
    margin: 0;
}
th.center,td.center {
    text-align:center
}
th.right,td.right {
    text-align:right;
}
th .lbl,td .lbl {
    margin-bottom:0
}
th .lbl:only-child,td .lbl:only-child {
    vertical-align:top
}

 /**jquery Datetables **/
.table-header {
   background-color:#307ecc;
    color:#FFF;
    font-size:12px;
    line-height:38px;
    padding-left:12px;
    margin-bottom:1px
}

.table-header .close {
    margin-right:6px;
    margin-top:6px
}
.table-footer{
    padding:5px 0;
/*    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    border-top: 1px solid #e4e9ee*/

}
.dataTables_length {
    margin-left:8px
}
.dataTables_length select {
    width:70px;
    height:25px;
    padding:2px 3px
}
.dataTables_filter {
    margin-right:8px;
    text-align:right
}
.dataTables_filter input[type=text] {
    width:125px;
    height:18px;
    line-height:18px
}
.dataTables_info {
    margin:0 0 0 10px;
    font-size:12px;
    color: #555;
}
.dataTables_paginate {
    text-align:right
}
.dataTables_paginate.pagination {
    margin:0 12px
}
.dataTables_wrapper label {
    display:inline-block;
    font-size:12px
}
.dataTables_wrapper input[type=text],.dataTables_wrapper select {
    margin-bottom:0!important;
    margin:0 4px;
}
.dataTables_wrapper .row-fluid:first-child {
    padding:12px 0 4px;
    background-color:#eff3f8
}
.dataTables_wrapper .row-fluid:first-child+.dataTable {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD
}
.dataTables_wrapper .row-fluid:last-child {
    border-top:1px solid #DDD;
    padding:12px 0 6px;
    background-color:#eff3f8;
    border-bottom:1px solid #DDD
}
.dataTable {
    margin-bottom:0
}
.dataTable th[class*=sort] {
    cursor:pointer
}
.dataTable th[class*=sort]:after {
    content:"\f0dc";
    display:inline-block;
    color:#555;
    font-family:FontAwesome;
    font-size:13px;
    font-weight:normal;
    float:right;
    margin-right:4px;
    position:relative
}
.dataTable th[class*=sorting_] {
    color:#307ecc
}
.dataTable th.sorting_desc:after {
    content:"\f0dd";
    top:-6px
}
.dataTable th.sorting_asc:after {
    content:"\f0de";
    top:4px
}
.dataTable th.sorting_disabled {
    cursor:inherit
}
.dataTable th.sorting_disabled:after {
    display:none
}
/*********8**/
table.DTCR_clonedTable {
    background-color: #FFFFFF;
    cursor: move;
    z-index: 202;
}
div.DTCR_pointer {
    background-color: #368EE0;
    width: 1px;
    z-index: 201;
}
div.DTCR_pointer:before {
    color: #368EE0;

    font-family: "FontAwesome";
    left: -5px;
    position: absolute;
    top: -25px;
}
.ColVis {
    float: right;
    margin-bottom: 1em;
}
.ColVis_Button {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    float: left;
    height: 30px;
    margin-right: 3px;
    padding: 3px 5px;
    position: relative;
}
button.ColVis_Button::-moz-focus-inner {
    border: medium none !important;
    padding: 0;
}
.ColVis_text_hover {
    background-color: #F0F0F0;
    border: 1px solid #999999;
}
div.ColVis_collectionBackground {
    background-color: #000000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
}
div.ColVis_collection {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    padding: 3px;
    position: relative;
    width: 150px;
    z-index: 1102;
}
div.ColVis_collection button.ColVis_Button {
    background-color: #FFFFFF;
    float: none;
    margin-bottom: 2px;
    width: 100%;
}
div.ColVis_collection button.ColVis_Group {
    background: none repeat scroll 0 0 #DADADA;
    border: 1px solid #BABABA;
}
div.ColVis_catcher {
    position: absolute;
    z-index: 1101;
}
.disabled {
    color: #999999;
}
button.ColVis_Button {
    text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
    background-color: #F0F0F0;
    border: 1px solid #999999;
}
div.ColVis_collection button.ColVis_Group:hover {
    background: none repeat scroll 0 0 #BABABA;
    border: 1px solid #424242;
}
span.ColVis_radio {
    display: inline-block;
    width: 20px;
}
.dataTables_wrapper .ColVis {
    margin: 10px 10px 10px 0;
}
.dataTables_wrapper .ColVis .ColVis_Button {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    padding: 3px 8px;
}
.dataTables_wrapper .ColVis .ColVis_Button i {
    margin-left: 5px;
}
.dataTables_wrapper .ColVis .ColVis_Button:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.dataTables_wrapper .dataTables_length {
    float: left;
  /*  margin: 10px 10px 5px;*/
   margin: 5px 0 5px 5px;
/*    min-width: 200px;*/
}
.dataTables_wrapper .dataTables_length .input-mini {
    float: left;
}
.dataTables_wrapper .dataTables_length label > span {
    float: left;
    margin: 4px 5px;
}
.dataTables_wrapper .DTTT_container {
    margin: 10px 5px 10px 0;
}
.dataTables_wrapper .DTTT_container .DTTT_button {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #333333;
    margin-right: 5px;
}
.dataTables_wrapper .DTTT_container .DTTT_button:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    /*margin: 10px 10px 5px 5px;*/
    margin:5px;
}
.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 0;
}
.dataTables_wrapper .dataTables_info {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 7px;
}
.dataTables_wrapper .dataTables_info span {
    font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top:10px;
}
.dataTables_wrapper .dataTables_paginate > a {
    height: 20px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
/*    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    color: #005aa0;
    background:#fff;

}
.dataTables_wrapper .dataTables_paginate > a.paginate_button_disabled ,
.dataTables_wrapper .dataTables_paginate > a.paginate_disabled_previous,
.dataTables_wrapper .dataTables_paginate > a.paginate_disabled_next
{
   color: #ccc;
    background:#fff;
    cursor: default;
}
.dataTables_wrapper .dataTables_paginate > a.paginate_button_disabled:hover,
.dataTables_wrapper .dataTables_paginate > a.paginate_disabled_previous:hover,
.dataTables_wrapper .dataTables_paginate > a.paginate_disabled_next:hover{
    text-decoration: none;
    color: #ccc;
    background:#fff;
    cursor: default;
}
.dataTables_wrapper .dataTables_paginate > a:hover {
    background: #005aa0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > span > a {
    height: 20px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    margin-left: 2px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
/*    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    color: #005aa0;
    background:#fff;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > span > a:hover {
    background: #005aa0;
    color: #fff;
}
.dataTables_wrapper .dataTables_paginate > span > a.paginate_active {
    color: #fff;
    font-weight: 700;
    background: #146aa0;
    cursor: default;
}
.dataTables_scroll {
    clear: both;
}
.dataTables_scrollBody {
}
.DTFC_Cloned {
    background: none repeat scroll 0 0 #EEEEEE;
    border-right: 1px solid #DDDDDD;
}
div.DTS tbody th, div.DTS tbody td {
    white-space: nowrap;
}
div.DTS tbody tr.even {
    background-color: #FFFFFF;
}
.alert.alert-nomargin {
    margin: 0;
}
.DTFC_LeftHeadWrapper {
    border-right: 1px solid #DDDDDD;
}
div.DTS div.DTS_Loading {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #999999;
    height: 20px;
    left: 50%;
    margin-left: -100px;
    margin-top: -20px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
    z-index: 1;
}
div.DTS div.dataTables_scrollHead {
    background-color: #FFFFFF;
}
div.DTS div.dataTables_scrollBody {
    z-index: 2;
}
/**  datatables**/
.dataTables_wrapper {
    position: relative;

}

.dataTables_wrapper .dataTables_processing {
    display: block;
    width: 100px;
    height: 40px;
    position: absolute;
    top:55%;
    left: 50%;
    margin-left: -50px;
  /*  margin-top:-20px;*/
    text-align: center;
    color: #536aab;
    background: url(../../images/loading_circular_35x35.GIF) no-repeat center center;
}

.table-funtion-bar{
    padding: 8px 10px 8px;
    margin: 10px 0px 10px 0px;
    /*background-color: #f6f6f6;*/
    background-color: #f2f2f2;
}


